body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.admin-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.admin-profile {
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin: 20px auto;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.admin-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.logout-btn {
    display: block;
    width: 100%;
    background: #dc3545;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.admin-options {
    margin-left: 240px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.admin-options a {
    display: block;
    background: #007bff;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s;
}

.admin-options a:hover {
    background: #0056b3;
}
.welcome-message {
    margin-left: 240px;
    padding: 20px;
}

.tabela-turma {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#turmasTable {
    border-collapse: collapse;
    margin-top: 20px;

  }
  
  #turmasTable th,
  #turmasTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #turmasTable th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  #turmasTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  #turmasTable tbody tr:hover {
    background-color: #eaf6ff;
  }

  @media (max-width: 955px) {
    .admin-profile {
      position: static;
      margin: 0 auto;
      width: 90%;
      padding: 10px;
    }
  
    .admin-profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .admin-photo {
      display: none; /* Oculta a imagem em telas menores */
    }
  
    .admin-profile h3,
    .admin-profile p {
      margin: 0;
      font-size: 2vw; /* Ajuste o tamanho da fonte conforme necessário */
    }
  
    .tabela-turma {
      margin: 20px auto;
      width: 95%;
    }
  }
  
  /* Estilos para telas menores que 576px */
  @media (max-width: 576px) {
    .admin-profile {
      padding: 10px;
    }
  
    .admin-profile {
      flex-direction: column-reverse;
      align-items: center;
    }
  
    .admin-profile h3,
    .admin-profile p {
      font-size: 2vw; /* Ajuste o tamanho da fonte conforme necessário */
    }
  }
  